---
import { Image } from "astro:assets";
export type Props = {
  node: string;
};

type NodeData = {
  title: string;
  description: string;
  url: string;
  imageUrl: string;
  faviconUrl: string;
};

const props = Astro.props;
const nodeData: NodeData = JSON.parse(props.node);
---

<div class="my-6">
  <div
    class="border-2 border-gray-200 rounded-xl bg-white shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-2 hover:shadow-xl"
  >
    <a
      href={nodeData.url}
      target="_blank"
      class="block text-inherit no-underline p-5"
    >
      <div class="flex items-center h-full">
        <Image
          src={nodeData.imageUrl}
          alt={nodeData.title}
          width={1}
          height={1}
          class="image"
        />
        <div class="ml-6 flex-1 overflow-hidden">
          <h3
            class="text-xl font-bold text-gray-800 hover:text-blue-600 transition duration-200 ease-in-out line-clamp-1"
          >
            {nodeData.title}
          </h3>
          <p class="description">{nodeData.description}</p>
          <div class="flex mt-1">
            <Image
              src={nodeData.faviconUrl}
              alt={nodeData.title}
              width={16}
              height={16}
              class="rounded-full object-cover mr-2"
            />
            <p class="url">{nodeData.url}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<style>
  .image {
    @apply rounded-lg object-fill h-20 w-40;
  }

  @media screen and (max-width: 640px) {
    .image {
      @apply h-16 w-16;
    }
  }

  .description {
    @apply text-gray-600 text-sm line-clamp-2 mb-0;
  }

  .url {
    @apply text-gray-500 text-xs line-clamp-1 mb-0;
  }
</style>
