---
import { Image } from "astro:assets";
export type Props = {
  node: string;
};

type NodeData = {
  title: string;
  description: string;
  url: string;
  imageUrl: string;
  faviconUrl: string;
};

const props = Astro.props;
const nodeData: NodeData = JSON.parse(props.node);
---

<div class="my-6">
  <a href={nodeData.url} target="_blank">
    <div class="card">
      <figure>
        {
          nodeData.imageUrl ? (
            <Image
              src={nodeData.imageUrl}
              alt={nodeData.title}
              width={1}
              height={1}
              class="image"
            />
          ) : null
        }
      </figure>
      <figcaption>
        <header><h3>{nodeData.title}</h3></header>
        <summary>{nodeData.description}</summary>
        <footer>
          {
            nodeData.faviconUrl ? (
              <Image
                src={nodeData.faviconUrl}
                alt={nodeData.title}
                width={16}
                height={16}
                class="rounded-full object-cover mr-2"
              />
            ) : null
          }
          <p class="url">{nodeData.url}</p>
        </footer>
      </figcaption>
    </div>
  </a>
</div>

<style>
  .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--primary-container);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  figure {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 0.5rem;
      width: 5rem;
      /* TODO(char5742): custom-mediaを使うようにする
      https://github.com/parcel-bundler/lightningcss/discussions/742
      https://github.com/vitejs/vite/issues/16593
       */
      @media (width > 640px) {
        width: 10rem;
      }
    }
  }

  figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  header {
    margin: 0 0 0.5rem 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  summary {
    margin: 0 0 0.5rem 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  footer {
    display: flex;
    align-items: center;

    .image {
      border-radius: 0.5rem;
    }

    .url {
      margin: 0;
      font-size: var(--font-size-sm);
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
  }
</style>
