---
import { Image } from "astro:assets";
export type Props = {
  node: string;
};

type NodeData = {
  title: string;
  description: string;
  url: string;
  imageUrl: string;
  faviconUrl: string;
};

const props = Astro.props;
const nodeData: NodeData = JSON.parse(props.node);
---

<a href={nodeData.url} target="_blank">
  <div class="card">
    <figure>
      {
        nodeData.imageUrl ? (
          <Image
            src={"/api/proxy-image?url=" + nodeData.imageUrl}
            alt={nodeData.title}
            width={1}
            height={1}
          />
        ) : null
      }
    </figure>
    <figcaption>
      <header><h3>{nodeData.title}</h3></header>
      <p>{nodeData.description}</p>
      <footer>
        {
          nodeData.faviconUrl ? (
            <Image
              src={"/api/proxy-image?url=" + nodeData.faviconUrl}
              alt={nodeData.title}
              width={16}
              height={16}
            />
          ) : null
        }
        <p>{nodeData.url}</p>
      </footer>
    </figcaption>
  </div>
</a>

<style>
  a {
    margin: 0 1rem;
  }

  .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--primary-container);
    padding: 1rem;
  }

  figure {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 0.5rem;
      width: 5rem;
      /* TODO(char5742): custom-mediaを使うようにする
      https://github.com/parcel-bundler/lightningcss/discussions/742
      https://github.com/vitejs/vite/issues/16593
       */
      @media (width > 640px) {
        width: 10rem;
      }
    }
  }

  figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2rem;
    overflow: hidden; /* はみ出した部分を非表示 */
    text-overflow: ellipsis;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  header {
    margin: 0 0 0.5rem 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  p {
    margin: 0 0 0.5rem 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  footer {
    display: flex;
    align-items: center;

    .image {
      border-radius: 0.5rem;
    }

    p {
      margin: 0;
      font-size: var(--font-size-sm);
      -webkit-line-clamp: 1;
    }
  }
</style>
