---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import TagList from "@/components/TagList.astro";
interface Props {
  post: CollectionEntry<"blog">;
}
const { post } = Astro.props;
---

<div class="card">
  <a href={`/blog/${post.slug}/`}>
    <h4>{post.data.title}</h4>
    <p>
      {post.data.description}
    </p>
  </a>
  <TagList tags={post.data.tags} />
  <p>
    <FormattedDate date={post.data.pubDate} />
  </p>
</div>

<style>
  .card {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: var(--primary-container);
  }

  a {
    text-decoration: none;
    color: inherit;
    margin-bottom: auto;

    h4 {
      margin: 0 0 0.5rem 0;
      text-wrap: wrap;
      display: -webkit-box; /* 必須 */
      -webkit-box-orient: vertical; /* 必須 */
      overflow: hidden; /* 必須 */
      -webkit-line-clamp: 3; /* 表示する行数を指定 */
    }

    p {
      margin: 0;
      font-size: var(--font-size-sm);
      display: -webkit-box; /* 必須 */
      -webkit-box-orient: vertical; /* 必須 */
      overflow: hidden; /* 必須 */
      -webkit-line-clamp: 3; /* 表示する行数を指定 */
    }
  }
</style>
